
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Restructuring events database</title>
		<link rel="stylesheet" href="../assets/css/app.css">
		<!--Webtools-->
		<script defer src="https://europa.eu/webtools/load.js"></script>
	</head>
<body>
<div class="page">
	<header class="header surface-c">
		<div>
			<div class="logo">
				<a href="https://apps.eurofound.europa.eu/" rel="external noopener noreferrer"><span>Eurofound apps</span></a>
			</div>
	
			<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
				<button class="menu-icon" type="button" data-toggle="responsive-menu">Menu</button>
			</div>
			
			<div class="top-bar" id="responsive-menu">
				<nav class="main-navigation" role="navigation" aria-label="Main navigation">
					<ul class="menu vertical accordion-menu large-horizontal" data-accordion-menu>
						<li>
							<a href="../index.html">Other Eurofound apps</a>
							<ul class="menu vertical nested large-horizontal is-active">
								<li >
									<a href="../index.html">Homepage</a>
								</li>
								<li >
									<a href="../listing-type.html">Listing page type</a>
								</li>
								<li  >
									<a href="../listing-country.html">Listing page country</a>
								</li>
								<li  >
									<a href="../detail.html">Detail page A</a>
								</li>
								<li  >
									<a href="../lp-2.html">Deail page B</a>
								</li>
								<li >
									<a href="../restructuring-statistics.html">Restructuring statistics</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<nav class="side-navigation hide-for-large" role="navigation" aria-label="Secondary navigation">
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						<li><a href="../index.html">Overview</a></li>
				
								<li><a href="../components/accordion.html">Accordion</a></li>
								<li><a href="../components/buttons.html">Buttons</a></li>
								<li><a href="../components/cards.html">Cards</a></li>
								<li><a href="../components/carousel.html">Carousel</a></li>
								<li><a href="../components/charts.html">Charts</a></li>
								<li><a href="../components/cookies.html">Cookies</a></li>
								<li><a href="../components/dictionary-index.html">Dictionary Index</a></li>
								<li><a href="../components/form.html">Form</a></li>
								<li><a href="../components/hero.html">Hero</a></li>
								<li><a href="../components/language-selector.html">Language selector</a></li>
								<li><a href="../components/lists.html">Lists</a></li>
								<li><a href="../components/messages.html">Messages</a></li>
								<li><a href="../components/modals.html">Modals</a></li>
								<li><a href="../components/surfaces.html">Surfaces</a></li>
								<li><a href="../components/tabs.html">Tabs</a></li>
								<li><a href="../components/tags.html">Tags</a></li>
								<li><a href="../components/teasers.html">Teasers</a></li>
								<li><a href="../components/tooltips.html">Tooltips</a></li>
								<li><a href="../components/typography.html">Typography</a></li>
				
						<li>
							<a href="#">Nested navigation</a>
							<ul class="menu vertical nested">
								<li><a href="#">Item 1</a></li>
								<li><a href="#">Item 2</a></li>
								<li><a href="#">Item 3</a></li>
							</ul>
						</li>
						
					</ul>
				</nav>		</div>
		</div>
	</header>
	<main>
		<section class="site-header surface-b " >
			<div>
				<div class="content">
						<p class="title">Restructuring events database</p>
					<p class="subtitle display-h3">Factsheets of large-scale restructuring events</p>
					<p>The restructuring events database contains factsheets with data on large-scale restructuring events reported in the principal national media in each EU member state. It has been in existence since 2002.</p>
					<br>
					<a href="https://www.eurofound.europa.eu/data/minimum-wages-pilot-project" target="_blank" class="button secondary icon-left icon-info">Methodology</a>
				</div>
				<div class="image">
					<img alt="Add image alt text here" src="assets/img/restructuring-events.svg">
				</div>
			</div>
		</section>	<aside class="sidebar-left">
			<nav class="side-navigation " role="navigation" aria-label="Secondary navigation">
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li><a href="../index.html">Overview</a></li>
			
							<li><a href="../components/accordion.html">Accordion</a></li>
							<li><a href="../components/buttons.html">Buttons</a></li>
							<li><a href="../components/cards.html">Cards</a></li>
							<li><a href="../components/carousel.html">Carousel</a></li>
							<li><a href="../components/charts.html">Charts</a></li>
							<li><a href="../components/cookies.html">Cookies</a></li>
							<li><a href="../components/dictionary-index.html">Dictionary Index</a></li>
							<li><a href="../components/form.html">Form</a></li>
							<li><a href="../components/hero.html">Hero</a></li>
							<li><a href="../components/language-selector.html">Language selector</a></li>
							<li><a href="../components/lists.html">Lists</a></li>
							<li><a href="../components/messages.html">Messages</a></li>
							<li><a href="../components/modals.html">Modals</a></li>
							<li><a href="../components/surfaces.html">Surfaces</a></li>
							<li><a href="../components/tabs.html">Tabs</a></li>
							<li><a href="../components/tags.html">Tags</a></li>
							<li><a href="../components/teasers.html">Teasers</a></li>
							<li><a href="../components/tooltips.html">Tooltips</a></li>
							<li><a href="../components/typography.html">Typography</a></li>
			
					<li>
						<a href="#">Nested navigation</a>
						<ul class="menu vertical nested">
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>
						</ul>
					</li>
					
				</ul>
			</nav>		<nav class="related-content" role="navigation" aria-label="Related content">
				<h2 class="title">Related content</h2>
				<ul>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Eurofound website</a>
					</li>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Topic: Stand with Ukraine</a>
					</li>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Topic: COVID-19</a>
					</li>
				</ul>
			</nav>	</aside>
		<section class="main-content">
			<div>
				<div class="content">
					<h1>Tags</h1>
	
					<h2>Tag (class="tag")</h2>
					<div class="tag ">
						<p class="show-for-sr">Tag</p>
						<p>Health &amp; care</p>
							<span>12</span>
					</div>
					<h3>Small (class="tag small")</h3>
					<div class="tag small">
						<p class="show-for-sr">Tag</p>
						<p>Health &amp; care</p>
							<span>12</span>
					</div>
					<hr>
	
					<h2>Tags list (ul class="tags-list")</h2>
					<ul class="tags-list">
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Professional services</p>
			<span>27</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Transport</p>
			<span>14</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Household tasks</p>
			<span>9</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Acommodation</p>
			<span>13</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Finance</p>
			<span>31</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Health &amp; care</p>
			<span>12</span>
	</div></li>
					</ul>
	
					<h3>Full width (ul class="tags-list full-width")</h3>
					<ul class="tags-list full-width">
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Professional services</p>
			<span>27</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Transport</p>
			<span>14</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Household tasks</p>
			<span>9</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Acommodation</p>
			<span>13</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Finance</p>
			<span>31</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Health &amp; care</p>
			<span>12</span>
	</div></li>
					</ul>
	
					<h3>Horizontal (ul class="tags-list horizontal")</h3>
					<ul class="tags-list horizontal">
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Professional services</p>
			<span>27</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Transport</p>
			<span>14</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Household tasks</p>
			<span>9</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Acommodation</p>
			<span>13</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Finance</p>
			<span>31</span>
	</div></li>
						<li><div class="tag ">
		<p class="show-for-sr">Tag</p>
		<p>Health &amp; care</p>
			<span>12</span>
	</div></li>
					</ul>
	
					<h3>Small</h3>
					<p>For a <code>.tags-list</code> with small tags add <code>.small</code> on each tag element in the list
					</p>
					<ul class="tags-list">
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Professional services</p>
			<span>27</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Transport</p>
			<span>14</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Household tasks</p>
			<span>9</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Acommodation</p>
			<span>13</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Finance</p>
			<span>31</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Health &amp; care</p>
			<span>12</span>
	</div></li>
					</ul>
	
					<h4>Small horizontal</h4>
					<ul class="tags-list horizontal">
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Professional services</p>
			<span>27</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Transport</p>
			<span>14</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Household tasks</p>
			<span>9</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Acommodation</p>
			<span>13</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Finance</p>
			<span>31</span>
	</div></li>
						<li><div class="tag small">
		<p class="show-for-sr">Tag</p>
		<p>Health &amp; care</p>
			<span>12</span>
	</div></li>
					</ul>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer surface-d">
		<div>
			<div class="footer-top">
				<div class="logo">
					<a href="https://www.eurofound.europa.eu/"><span>Eurofound</span></a>
				</div>
				<p class="moto"><a href="https://apps.eurofound.europa.eu">Eurofound apps</a></p>
				<div class="small-list 
				horizontal bullets rich-text">
					<h2 class="heading show-for-sr">Quick links</h2>
					<ul>
						<li><a href="#">Link1</a></li>
						<li><a href="#">Link2</a></li>
						<li><a href="#">Link3</a></li>
						<li><a href="#">Link4</a></li>
					</ul>
				</div>		</div>
			<!--
			<p class="disclaimer small-text">
				Disclaimer: This information has not been subject to the full Eurofound evaluation, editorial and publication process.
			</p>
			-->
			<!--
			<p class="copyright small-text">
				© 2023 Eurofound
			</p>
			-->
		</div>
	</footer></div>
<script src="../assets/js/app.js"></script>
</body>
</html>
