
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Restructuring events database</title>
		<link rel="stylesheet" href="../assets/css/app.css">
		<!--Webtools-->
		<script defer src="https://europa.eu/webtools/load.js"></script>
	</head>
<body>
<div class="page">
	<header class="header surface-c">
		<div>
			<div class="logo">
				<a href="https://apps.eurofound.europa.eu/" rel="external noopener noreferrer"><span>Eurofound apps</span></a>
			</div>
	
			<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
				<button class="menu-icon" type="button" data-toggle="responsive-menu">Menu</button>
			</div>
			
			<div class="top-bar" id="responsive-menu">
				<nav class="main-navigation" role="navigation" aria-label="Main navigation">
					<ul class="menu vertical accordion-menu large-horizontal" data-accordion-menu>
						<li>
							<a href="../index.html">Other Eurofound apps</a>
							<ul class="menu vertical nested large-horizontal is-active">
								<li >
									<a href="../index.html">Homepage</a>
								</li>
								<li >
									<a href="../listing-type.html">Listing page type</a>
								</li>
								<li  >
									<a href="../listing-country.html">Listing page country</a>
								</li>
								<li  >
									<a href="../detail.html">Detail page A</a>
								</li>
								<li  >
									<a href="../lp-2.html">Deail page B</a>
								</li>
								<li >
									<a href="../restructuring-statistics.html">Restructuring statistics</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<nav class="side-navigation hide-for-large" role="navigation" aria-label="Secondary navigation">
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						<li><a href="../index.html">Overview</a></li>
				
								<li><a href="../components/accordion.html">Accordion</a></li>
								<li><a href="../components/buttons.html">Buttons</a></li>
								<li><a href="../components/cards.html">Cards</a></li>
								<li><a href="../components/carousel.html">Carousel</a></li>
								<li><a href="../components/charts.html">Charts</a></li>
								<li><a href="../components/cookies.html">Cookies</a></li>
								<li><a href="../components/dictionary-index.html">Dictionary Index</a></li>
								<li><a href="../components/form.html">Form</a></li>
								<li><a href="../components/hero.html">Hero</a></li>
								<li><a href="../components/language-selector.html">Language selector</a></li>
								<li><a href="../components/lists.html">Lists</a></li>
								<li><a href="../components/messages.html">Messages</a></li>
								<li><a href="../components/modals.html">Modals</a></li>
								<li><a href="../components/surfaces.html">Surfaces</a></li>
								<li><a href="../components/tabs.html">Tabs</a></li>
								<li><a href="../components/tags.html">Tags</a></li>
								<li><a href="../components/teasers.html">Teasers</a></li>
								<li><a href="../components/tooltips.html">Tooltips</a></li>
								<li><a href="../components/typography.html">Typography</a></li>
				
						<li>
							<a href="#">Nested navigation</a>
							<ul class="menu vertical nested">
								<li><a href="#">Item 1</a></li>
								<li><a href="#">Item 2</a></li>
								<li><a href="#">Item 3</a></li>
							</ul>
						</li>
						
					</ul>
				</nav>		</div>
		</div>
	</header>
	<main>
		<section class="site-header surface-b " >
			<div>
				<div class="content">
						<p class="title">Restructuring events database</p>
					<p class="subtitle display-h3">Factsheets of large-scale restructuring events</p>
					<p>The restructuring events database contains factsheets with data on large-scale restructuring events reported in the principal national media in each EU member state. It has been in existence since 2002.</p>
					<br>
					<a href="https://www.eurofound.europa.eu/data/minimum-wages-pilot-project" target="_blank" class="button secondary icon-left icon-info">Methodology</a>
				</div>
				<div class="image">
					<img alt="Add image alt text here" src="assets/img/restructuring-events.svg">
				</div>
			</div>
		</section>	<aside class="sidebar-left">
			<nav class="side-navigation " role="navigation" aria-label="Secondary navigation">
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li><a href="../index.html">Overview</a></li>
			
							<li><a href="../components/accordion.html">Accordion</a></li>
							<li><a href="../components/buttons.html">Buttons</a></li>
							<li><a href="../components/cards.html">Cards</a></li>
							<li><a href="../components/carousel.html">Carousel</a></li>
							<li><a href="../components/charts.html">Charts</a></li>
							<li><a href="../components/cookies.html">Cookies</a></li>
							<li><a href="../components/dictionary-index.html">Dictionary Index</a></li>
							<li><a href="../components/form.html">Form</a></li>
							<li><a href="../components/hero.html">Hero</a></li>
							<li><a href="../components/language-selector.html">Language selector</a></li>
							<li><a href="../components/lists.html">Lists</a></li>
							<li><a href="../components/messages.html">Messages</a></li>
							<li><a href="../components/modals.html">Modals</a></li>
							<li><a href="../components/surfaces.html">Surfaces</a></li>
							<li><a href="../components/tabs.html">Tabs</a></li>
							<li><a href="../components/tags.html">Tags</a></li>
							<li><a href="../components/teasers.html">Teasers</a></li>
							<li><a href="../components/tooltips.html">Tooltips</a></li>
							<li><a href="../components/typography.html">Typography</a></li>
			
					<li>
						<a href="#">Nested navigation</a>
						<ul class="menu vertical nested">
							<li><a href="#">Item 1</a></li>
							<li><a href="#">Item 2</a></li>
							<li><a href="#">Item 3</a></li>
						</ul>
					</li>
					
				</ul>
			</nav>		<nav class="related-content" role="navigation" aria-label="Related content">
				<h2 class="title">Related content</h2>
				<ul>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Eurofound website</a>
					</li>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Topic: Stand with Ukraine</a>
					</li>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Topic: COVID-19</a>
					</li>
				</ul>
			</nav>	</aside>
		<section class="main-content">
			<div>
				<div class="content">
					<h1>Teasers</h1>
	
					<h2>Teaser light (class=teaser surface-b")</h2>
					<p><strong>IMPORTANT NOTE:</strong> For the title element please use any of the heading html elements in
						the correct and accessible order.</p>
					<article class="teaser surface-b    ">
						<div class="content-wrapper">
							<div class="content">
								<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
								<p class="description">One of the most important consequences of the international crisis caused by the pandemic
									and the war in Ukraine is the increase in the price of energy, which has disproportionately burdened
									family bu...</p>
								<ul class="meta top">
									<li class="date">
										<label class="show-for-sr">Date</label>
										<span>17 APR 2022</span>
									</li>
										<li>
											<label class="show-for-sr">Type</label>
											<span><a href="">type1</a></span>
										</li>
										<li>
											<label class="show-for-sr">Country</label>
											<span><a href="">France</a></span>
										</li>
								</ul>
									<div class="meta-group">
										<label>Metadata group</label>
										<ul class="meta">
											<li><a href="#">Metadata 1</a></li>
											<li><a href="#">Metadata 2</a></li>
											<li><a href="#">Metadata 3</a></li>
										</ul>
									</div>
									<ul class="actions">
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
									</ul>
							</div>
						</div>
					</article>
					<hr>
	
					<h2>Teaser dark (class=teaser surface-c")</h2>
					<article class="teaser surface-c    ">
						<div class="content-wrapper">
							<div class="content">
								<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
								<p class="description">One of the most important consequences of the international crisis caused by the pandemic
									and the war in Ukraine is the increase in the price of energy, which has disproportionately burdened
									family bu...</p>
								<ul class="meta top">
									<li class="date">
										<label class="show-for-sr">Date</label>
										<span>17 APR 2022</span>
									</li>
										<li>
											<label class="show-for-sr">Type</label>
											<span><a href="">type1</a></span>
										</li>
										<li>
											<label class="show-for-sr">Country</label>
											<span><a href="">France</a></span>
										</li>
								</ul>
									<div class="meta-group">
										<label>Metadata group</label>
										<ul class="meta">
											<li><a href="#">Metadata 1</a></li>
											<li><a href="#">Metadata 2</a></li>
											<li><a href="#">Metadata 3</a></li>
										</ul>
									</div>
									<ul class="actions">
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
									</ul>
							</div>
						</div>
					</article>
					<hr>
	
					<h2>Teaser small (class=teaser small")</h2>
					<ul class="grid-x grid-margin-x medium-up-2">
						<li class="cell">
							<article class="teaser surface-b small   ">
								<div class="content-wrapper">
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-c small   ">
								<div class="content-wrapper">
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
							</article>					</li>
					</ul>
	
					<hr>
	
					<h2>Teaser featured (class=teaser featured")</h2>
					<p>Along with the class <code>.featured</code> add
						<code>&lt;div class="featured"&gt;Featured&lt;/div&gt;</code> inside <code>.content-wrapper</code>.
					</p>
	
					<ul class="grid-x grid-margin-x medium-up-2">
						<li class="cell">
							<article class="teaser surface-b  featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-b small featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-c  featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-c small featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
							</article>					</li>
					</ul>
	
	
					<hr>
	
					<h2>With image</h2>
					<p>In order to add an image please add the following code:</p>
					<code class="code-block">
		&lt;div class="image-wrapper"&gt; 
			&lt;img alt="Add image alt text here" src=""&gt;
		&lt;/div&gt;
						</code>
	
					<h3>Image on top (default)</h3>
					<ul class="grid-x grid-margin-x medium-up-2">
						<li class="cell">
							<article class="teaser surface-b  featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
									<div class="image-wrapper">
										<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
									</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-b small featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
									<div class="image-wrapper">
										<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
									</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-c  featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
									<div class="image-wrapper">
										<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
									</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-c small featured  ">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
									<div class="image-wrapper">
										<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
									</div>
							</article>					</li>
					</ul>
	
	
					<h3>With image on the side (class="side-image")</h3>
	
					<article class="teaser surface-b  featured side-image ">
						<div class="content-wrapper">
								<div class="featured">Featured</div>
							<div class="content">
								<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
								<p class="description">One of the most important consequences of the international crisis caused by the pandemic
									and the war in Ukraine is the increase in the price of energy, which has disproportionately burdened
									family bu...</p>
								<ul class="meta top">
									<li class="date">
										<label class="show-for-sr">Date</label>
										<span>17 APR 2022</span>
									</li>
										<li>
											<label class="show-for-sr">Type</label>
											<span><a href="">type1</a></span>
										</li>
										<li>
											<label class="show-for-sr">Country</label>
											<span><a href="">France</a></span>
										</li>
								</ul>
									<div class="meta-group">
										<label>Metadata group</label>
										<ul class="meta">
											<li><a href="#">Metadata 1</a></li>
											<li><a href="#">Metadata 2</a></li>
											<li><a href="#">Metadata 3</a></li>
										</ul>
									</div>
									<ul class="actions">
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
									</ul>
							</div>
						</div>
							<div class="image-wrapper">
								<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
							</div>
					</article>
					<h4>Small</h4>
					<article class="teaser surface-b small featured side-image ">
						<div class="content-wrapper">
								<div class="featured">Featured</div>
							<div class="content">
								<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
								<p class="description">One of the most important consequences of the international crisis caused by the pandemic
									and the war in Ukraine is the increase in the price of energy, which has disproportionately burdened
									family bu...</p>
								<ul class="meta top">
									<li class="date">
										<label class="show-for-sr">Date</label>
										<span>17 APR 2022</span>
									</li>
										<li>
											<label class="show-for-sr">Type</label>
											<span><a href="">type1</a></span>
										</li>
										<li>
											<label class="show-for-sr">Country</label>
											<span><a href="">France</a></span>
										</li>
								</ul>
									<div class="meta-group">
										<label>Metadata group</label>
										<ul class="meta">
											<li><a href="#">Metadata 1</a></li>
											<li><a href="#">Metadata 2</a></li>
											<li><a href="#">Metadata 3</a></li>
										</ul>
									</div>
									<ul class="actions">
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
									</ul>
							</div>
						</div>
							<div class="image-wrapper">
								<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
							</div>
					</article>
					<h4>Dark</h4>
					<article class="teaser surface-c  featured side-image ">
						<div class="content-wrapper">
								<div class="featured">Featured</div>
							<div class="content">
								<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
								<p class="description">One of the most important consequences of the international crisis caused by the pandemic
									and the war in Ukraine is the increase in the price of energy, which has disproportionately burdened
									family bu...</p>
								<ul class="meta top">
									<li class="date">
										<label class="show-for-sr">Date</label>
										<span>17 APR 2022</span>
									</li>
										<li>
											<label class="show-for-sr">Type</label>
											<span><a href="">type1</a></span>
										</li>
										<li>
											<label class="show-for-sr">Country</label>
											<span><a href="">France</a></span>
										</li>
								</ul>
									<div class="meta-group">
										<label>Metadata group</label>
										<ul class="meta">
											<li><a href="#">Metadata 1</a></li>
											<li><a href="#">Metadata 2</a></li>
											<li><a href="#">Metadata 3</a></li>
										</ul>
									</div>
									<ul class="actions">
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
									</ul>
							</div>
						</div>
							<div class="image-wrapper">
								<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
							</div>
					</article>
					<h4>Small dark</h4>
					<article class="teaser surface-c small featured side-image ">
						<div class="content-wrapper">
								<div class="featured">Featured</div>
							<div class="content">
								<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
								<p class="description">One of the most important consequences of the international crisis caused by the pandemic
									and the war in Ukraine is the increase in the price of energy, which has disproportionately burdened
									family bu...</p>
								<ul class="meta top">
									<li class="date">
										<label class="show-for-sr">Date</label>
										<span>17 APR 2022</span>
									</li>
										<li>
											<label class="show-for-sr">Type</label>
											<span><a href="">type1</a></span>
										</li>
										<li>
											<label class="show-for-sr">Country</label>
											<span><a href="">France</a></span>
										</li>
								</ul>
									<div class="meta-group">
										<label>Metadata group</label>
										<ul class="meta">
											<li><a href="#">Metadata 1</a></li>
											<li><a href="#">Metadata 2</a></li>
											<li><a href="#">Metadata 3</a></li>
										</ul>
									</div>
									<ul class="actions">
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
										<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
									</ul>
							</div>
						</div>
							<div class="image-wrapper">
								<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
							</div>
					</article>
					<h3>With background image (class="background-image"</h3>
					<p>It only supports dark teasers, so make sure to add <code>.surface-c</code>.</p>
					<ul class="grid-x grid-margin-x medium-up-2">
						<li class="cell">
							<article class="teaser surface-c  featured  background-image">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
									<div class="image-wrapper">
										<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
									</div>
							</article>					</li>
						<li class="cell">
							<article class="teaser surface-c small featured  background-image">
								<div class="content-wrapper">
										<div class="featured">Featured</div>
									<div class="content">
										<h3 class="title"><a href="#">Deliveroo drivers go on strike in Paris</a></h3>
										<p class="description">One of the most important consequences of the international crisis caused by the
													pandemic and the war in Ukraine is the increase in the price of energy, which has
													disproportionately burdened family bu...</p>
										<ul class="meta top">
											<li class="date">
												<label class="show-for-sr">Date</label>
												<span>17 APR 2022</span>
											</li>
												<li>
													<label class="show-for-sr">Type</label>
													<span><a href="">type1</a></span>
												</li>
												<li>
													<label class="show-for-sr">Country</label>
													<span><a href="">France</a></span>
												</li>
										</ul>
											<div class="meta-group">
												<label>Metadata group</label>
												<ul class="meta">
													<li><a href="#">Metadata 1</a></li>
													<li><a href="#">Metadata 2</a></li>
													<li><a href="#">Metadata 3</a></li>
												</ul>
											</div>
											<ul class="actions">
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 1</a></li>
												<li><a href="#" class="button icon-right icon-arrow-right">CTA 2</a></li>
											</ul>
									</div>
								</div>
									<div class="image-wrapper">
										<img alt="Add image alt text here" src="../assets/img/image-placeholder.png">
									</div>
							</article>					</li>
					</ul>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer surface-d">
		<div>
			<div class="footer-top">
				<div class="logo">
					<a href="https://www.eurofound.europa.eu/"><span>Eurofound</span></a>
				</div>
				<p class="moto"><a href="https://apps.eurofound.europa.eu">Eurofound apps</a></p>
				<div class="small-list 
				horizontal bullets rich-text">
					<h2 class="heading show-for-sr">Quick links</h2>
					<ul>
						<li><a href="#">Link1</a></li>
						<li><a href="#">Link2</a></li>
						<li><a href="#">Link3</a></li>
						<li><a href="#">Link4</a></li>
					</ul>
				</div>		</div>
			<!--
			<p class="disclaimer small-text">
				Disclaimer: This information has not been subject to the full Eurofound evaluation, editorial and publication process.
			</p>
			-->
			<!--
			<p class="copyright small-text">
				© 2023 Eurofound
			</p>
			-->
		</div>
	</footer></div>
<script src="../assets/js/app.js"></script>
</body>
</html>
