
<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eurofound HTML Template</title>
		<link rel="stylesheet" href="../assets/css/app.css">
		<!--For Datawrapper--->
		<script type="text/javascript" src="https://static.dwcdn.net/js/events.js"></script>
	</head>
<body>
<div class="page">
	<header class="header surface-c">
		<div>
			<div class="logo">
				<a href="https://www.eurofound.europa.eu/" rel="external noopener noreferrer"><span>Eurofound apps</span></a>
			</div>
	
			<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
				<button class="menu-icon" type="button" data-toggle="responsive-menu">Menu</button>
			</div>
			
			<div class="top-bar" id="responsive-menu">
				<nav class="main-navigation" role="navigation" aria-label="Main navigation">
					<ul class="menu vertical accordion-menu large-horizontal" data-accordion-menu>
						<li>
							<a href="../index.html">Eurofound apps</a>
							<ul class="menu vertical nested large-horizontal is-active">
								<li >
									<a href="../hp-2.html">Platform economy database</a>
								</li>						
							</ul>
						</li>
					</ul>
				</nav>
				<nav class="side-navigation hide-for-large" role="navigation" aria-label="Secondary navigation">
					<ul class="vertical menu accordion-menu" data-accordion-menu>
						<li>
							<a href="#">Home</a>
							
						</li>
						<li>
							<a href="#">Countries</a>
							<ul class="menu vertical nested">
								<li><a href="#">Country 1</a></li>
								<li><a href="#">Country 2</a></li>
								<li><a href="#">Country 3</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Record types</a>
							<ul class="menu vertical nested">
								<li><a href="#">Type 1</a></li>
								<li><a href="#">Type 2</a></li>
								<li><a href="#">Type 3</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Initiative types</a>
							<ul class="menu vertical nested">
								<li><a href="#">Ensuring business continuity and support for essential services</a></li>
								<li><a href="#">Supporting businesses to stay afloat</a></li>
								<li><a href="#">Employment protection and retention</a></li>
								<li><a href="#">Reorientation of business activities</a></li>
								<li><a href="#">Protection of workers, adaptation of workplace</a></li>
								<li><a href="#">Income protection beyond short-time work</a></li>
								<li><a href="#">Measures to prevent social hardship</a></li>
								<li><a href="#">Promoting the economic, labour market and social recovery</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Platform economy typologies</a>
							<ul class="menu vertical nested">
								<li><a href="#">Target group 1</a></li>
								<li><a href="#">Target group 2</a></li>
								<li><a href="#">Target group 3</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Platforms</a>
							<ul class="menu vertical nested">
								<li><a href="#">Target group 1</a></li>
								<li><a href="#">Target group 2</a></li>
								<li><a href="#">Target group 3</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Actors</a>
							<ul class="menu vertical nested">
								<li><a href="#">Target group 1</a></li>
								<li><a href="#">Target group 2</a></li>
								<li><a href="#">Target group 3</a></li>
							</ul>
						</li>
						<li><a href="#">Search database</a></li>
					</ul>
				</nav>		</div>
		</div>
	</header>
	<main>
		<section class="site-header surface-b " style="">
			<div>
				<div class="content">
						<p class="title">Platform economy database</p>
					<p class="subtitle display-h3">Database of initiatives and court cases in the EU</p>
					<p>Eurofound’s platform economy database provides information on initiatives and court cases that exist or have been implemented in relation to activities in the platform economy. This database provides metadata for each entry, such as geographical scope, year, type of initiative, actors involved, sector and companies concerned. Initiatives include legal instruments such as legislative changes or court decisions, as well as voluntary interventions undertaken by different stakeholders to address issues around platform work.			</p>
					<p>
						<button data-open="search-modal-2nB2" class="button icon-search button icon-right">Search</button> 
						<a href="https://www.eurofound.europa.eu/topic/platform-work" class="button secondary icon-arrow-square button icon-right hide-for-small-only">Topic: Platform work</a> 
						<a href="https://www.eurofound.europa.eu/topic/platform-work" class="button secondary icon-arrow-square button icon-right hide-for-small-only">Platform economy repository</a> </p>
					<!--Search modal-->
					<div class="reveal padded" id=search-modal-2nB2 data-reveal>
						<div class="modal-header">
							<h1 class="title">Search</h1>
							<button class="button outlined icon-only icon-close" data-close >Close modal</button>
						</div>
						<p>The database currently contains <strong>250 entries</strong> and was last updated in <strong>January 2023</strong>.</p>
						<form method="get" class="form search-form">
							
							<div class="grid-x grid-margin-x">
						
								<div class="cell">
									<label class="field field-type-text ">
										<span class="label show-for-sr">Search</span>
										<span class="input">
											<input type="text" maxlength="300" name="input-name" >
										</span>
									</label>		</div>
						
								<div class="cell medium-6 xlarge-3">
									<label class="field field-type-select  ">
										<span class="label ">Filter 1</span>
										<span class="input">
											<select name=Filter 1 >
												<option value="option-1">Option 1</option>
												<option value="option-2">Option 2</option>
												<option value="option-3">Option 3</option>
											</select>
										</span>
									</label>		</div>
						
								<div class="cell medium-6 xlarge-3">
									<label class="field field-type-select ">
										<span class="label ">Filter 3</span>
											<select class="multy-select" name=Filter 3 multiple="multiple" >
											<option value="option-1">Option 1</option>
											<option value="option-2">Option 2</option>
											<option value="option-3">Option 3</option>
											<option value="option-4">Option 4</option>
											<option value="option-5">Option 5</option>
											<option value="option-6">Option 6</option>
											<option value="option-7">Option 7</option>
											<option value="option-8">Option 8</option>
											<option value="option-9">Option 9</option>
											<option value="option-10">Option 10</option>
										</select>
									</label>		</div>
						
								<div class="cell medium-6 xlarge-3">
									<label class="field field-type-select  ">
										<span class="label ">Filter 2</span>
										<span class="input">
											<select name=Filter 2 >
												<option value="option-1">Option 1</option>
												<option value="option-2">Option 2</option>
												<option value="option-3">Option 3</option>
											</select>
										</span>
									</label>		</div>
						
								<div class="cell medium-6 xlarge-3">
									<label class="field field-type-select  ">
										<span class="label ">Filter 3</span>
										<span class="input">
											<select name=Filter 3 >
												<option value="option-1">Option 1</option>
												<option value="option-2">Option 2</option>
												<option value="option-3">Option 3</option>
											</select>
										</span>
									</label>		</div>
						
						
								<div class="cell">
									<div class="field field-type-slider inline-label">
										<span class="label">Year</span>
										<div class="slider-wrapper">
											<div class="slider" data-slider data-start=2002 data-initial-start=2013 data-end=2022  data-initial-end=2018>
												<span class="slider-handle" data-slider-handle role="slider" aria-label="Slider start handle" tabindex="1">
													<label class="slider-label">
														<span class="label show-for-sr">Start</span>
														<input class="slider-value">
													</label>
												</span>
												<span class="slider-fill" data-slider-fill></span>
												<span class="slider-handle" data-slider-handle role="slider" aria-label="Slider end handle" tabindex="1">
													<label class="slider-label">
														<span class="label show-for-sr">End</span>
														<input class="slider-value">
													</label>
												</span>
											</div>
											<div class="range">
												<span>2002 </span>
												<span>2022</span>
											</div>
										</div>
									</div>		</div>
						
								<div class="cell">
									<div class="actions">
										<button class="button secondary" type="submit">Apply</button>
										<input class="button outlined secondary" type="reset" value="Reset"></input>
									</div>		</div>
						
							</div>
						</form>			</div>
					<!--Search modal ends-->		
				</div>
				<div class="image">
					<img alt="Add image alt text here" src="../assets/img/platform_header.svg">
				</div>
			</div>
		</section>	<aside class="sidebar-left">
			<nav class="side-navigation " role="navigation" aria-label="Secondary navigation">
				<ul class="vertical menu accordion-menu" data-accordion-menu>
					<li>
						<a href="#">Home</a>
						
					</li>
					<li>
						<a href="#">Countries</a>
						<ul class="menu vertical nested">
							<li><a href="#">Country 1</a></li>
							<li><a href="#">Country 2</a></li>
							<li><a href="#">Country 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Record types</a>
						<ul class="menu vertical nested">
							<li><a href="#">Type 1</a></li>
							<li><a href="#">Type 2</a></li>
							<li><a href="#">Type 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Initiative types</a>
						<ul class="menu vertical nested">
							<li><a href="#">Ensuring business continuity and support for essential services</a></li>
							<li><a href="#">Supporting businesses to stay afloat</a></li>
							<li><a href="#">Employment protection and retention</a></li>
							<li><a href="#">Reorientation of business activities</a></li>
							<li><a href="#">Protection of workers, adaptation of workplace</a></li>
							<li><a href="#">Income protection beyond short-time work</a></li>
							<li><a href="#">Measures to prevent social hardship</a></li>
							<li><a href="#">Promoting the economic, labour market and social recovery</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Platform economy typologies</a>
						<ul class="menu vertical nested">
							<li><a href="#">Target group 1</a></li>
							<li><a href="#">Target group 2</a></li>
							<li><a href="#">Target group 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Platforms</a>
						<ul class="menu vertical nested">
							<li><a href="#">Target group 1</a></li>
							<li><a href="#">Target group 2</a></li>
							<li><a href="#">Target group 3</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Actors</a>
						<ul class="menu vertical nested">
							<li><a href="#">Target group 1</a></li>
							<li><a href="#">Target group 2</a></li>
							<li><a href="#">Target group 3</a></li>
						</ul>
					</li>
					<li><a href="#">Search database</a></li>
				</ul>
			</nav>		<nav class="related-content" role="navigation" aria-label="Related content">
				<h2 class="title">Related content</h2>
				<ul>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Eurofound website</a>
					</li>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Topic: Platform work</a>
					</li>
					<li>
						<a href="#" class="external" rel="external noopener noreferrer">Platform economy repository</a>
					</li>
			
				</ul>
			</nav>	</aside>
		<section class="main-content">
			<div>
				<div class="content">
					<h1>Buttons</h1>
	
					<h2 id="1">Button element</h2>
					<p>Could be either &lt;button&gt; or &lt;a&gt; element.</p>
	
						<button 
							class="button 
								
								 
								
								
								
								
								
								
							"
						>A button element</button>
						<a href="#" 
							class="button 
								
								
								
								
								
								
								
								
							"
						>An a element</a>
	
					<hr>
	
					<h2 id="2">Primary button (class="button")</h2>
						<button 
							class="button 
								
								 
								
								
								
								
								
								
							"
						>A primary button</button>
	
					<h3>Small primary button (class="button small")</h3>
						<button 
							class="button 
								small
								 
								
								
								
								
								
								
							"
						>A small primary button</button>
	
					<h3>Disabled primary buttons. Just add a disabled attribute. (class="button" disabled)</h3>
						<button disabled
							class="button 
								
								 
								
								
								
								
								
								
							"
						>A primary disabled button</button>
						<button disabled
							class="button 
								small
								 
								
								
								
								
								
								
							"
						>A small primary disabled button</button>
	
					<hr>
	
					<h2 id="3">Secondary button</h2>
	
					<h3>Secondary button (class="button secondary")</h3>
						<button 
							class="button 
								
								secondary 
								
								
								
								
								
								
							"
						>A secondary button</button>
						<button 
							class="button 
								small
								secondary 
								
								
								
								
								
								
							"
						>A secondary small button</button>
	
					<h3>Disabled secondary buttons. Just add a disabled attribute. (class="button secondary" disabled)</h3>
						<button disabled
							class="button 
								
								secondary 
								
								
								
								
								
								
							"
						>A secondary disabled button</button>
						<button disabled
							class="button 
								small
								secondary 
								
								
								
								
								
								
							"
						>A small secondary disabled button</button>
	
					<hr>
	
	
					<h2 id="4">Primary outlined button (class="button outlined")</h2>
						<button 
							class="button 
								
								 
								outlined
								
								
								
								
								
							"
						>A secondary outlined button</button>
						<button 
							class="button 
								small
								 
								outlined
								
								
								
								
								
							"
						>A small secondary outlined button</button>
	
					<h3>Disabled primary outlined buttons. Just add a disabled attribute. (class="button outlined" disabled)
					</h3>
						<button disabled
							class="button 
								
								 
								outlined
								
								
								
								
								
							"
						>A secondary outlined disabled button</button>
						<button disabled
							class="button 
								small
								 
								outlined
								
								
								
								
								
							"
						>A small secondary outlined disabled button</button>
	
					<hr>
	
					<h2 id="5">Secondary outlined button (class="button outlined secondary")</h2>
	
						<button 
							class="button 
								
								secondary 
								outlined
								
								
								
								
								
							"
						>A secondary outlined button</button>
						<button 
							class="button 
								small
								secondary 
								outlined
								
								
								
								
								
							"
						>A small secondary outlined button</button>
	
					<h3>Disabled secondary outlined buttons. Just add a disabled attribute. (class="button outlined
						secondary" disabled)</h3>
						<button disabled
							class="button 
								
								secondary 
								outlined
								
								
								
								
								
							"
						>A secondary outlined disabled button</button>
						<button disabled
							class="button 
								small
								secondary 
								outlined
								
								
								
								
								
							"
						>A small secondary outlined disabled button</button>
	
					<hr>
	
					<h2 id="6">Primary hollow button (class="button hollow")</h2>
						<button 
							class="button 
								
								 
								
								hollow
								
								
								
								
							"
						>A primary hollow button</button>
						<button 
							class="button 
								small
								 
								
								hollow
								
								
								
								
							"
						>A small primary hollow button</button>
	
					<h3>Disabled primary hollow buttons. Just add a disabled attribute.</h3>
						<button disabled
							class="button 
								
								 
								
								hollow
								
								
								
								
							"
						>A primary hollow disabled button</button>
						<button disabled
							class="button 
								small
								 
								
								hollow
								
								
								
								
							"
						>A small primary hollow disabled button</button>
	
					<hr>
	
					<h2 id="7">Secondary hollow button (class="button hollow secondary")</h2>
	
						<button 
							class="button 
								
								secondary 
								
								hollow
								
								
								
								
							"
						>A secondary hollow button</button>
						<button 
							class="button 
								small
								secondary 
								
								hollow
								
								
								
								
							"
						>A small secondary hollow button</button>
	
					<h3>Disabled secondary hollow buttons. Just add a disabled attribute. (class="button hollow secondary"
						disabled)</h3>
						<button disabled
							class="button 
								
								secondary 
								
								hollow
								
								
								
								
							"
						>A secondary hollow button</button>
						<button disabled
							class="button 
								small
								secondary 
								
								hollow
								
								
								
								
							"
						>A small secondary hollow button</button>
	
					<hr>
	
					<h2 id="8">Buttons with icons</h2>
					<p>In order to add an icon please choose one from the following class names"</p>
	
					<ul class="bullet-list">
						<li>.icon-arrow-double-left
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-double-left
									"
								>arrow-double-left</button>
						</li>
						<li>.icon-arrow-double-right
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-double-right
									"
								>arrow-double-right</button>
						</li>
						<li>.icon-arrow-up
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-up
									"
								>arrow-up</button>
						</li>
						<li>.icon-arrow-down
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-down
									"
								>arrow-down</button>
						</li>
						<li>.icon-arrow-left
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-left
									"
								>arrow-left</button>
						</li>
						<li>.icon-arrow-right
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-right
									"
								>arrow-right</button>
						</li>
						<li>.icon-arrow-bend
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-bend
									"
								>arrow-bend</button>
						</li>
						<li>.icon-arrow-circle
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-circle
									"
								>arrow-circle</button>
						</li>
						<li>.icon-arrow-square
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-arrow-square
									"
								>arrow-square</button>
						</li>
						<li>.icon-check
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-check
									"
								>check</button>
						</li>
						<li>.icon-close
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-close
									"
								>close</button>
						</li>
						<li>.icon-warning
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-warning
									"
								>warning</button>
						</li>
						<li>.icon-info
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-info
									"
								>info</button>
						</li>
						<li>.icon-error
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-error
									"
								>error</button>
						</li>
						<li>.icon-search
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-search
									"
								>search</button>
						</li>
						<li>.icon-share
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-share
									"
								>share</button>
						</li>
						<li>.icon-download
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-download
									"
								>download</button>
						</li>
						<li>.icon-filters
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-filters
									"
								>filters</button>
						</li>
						<li>.icon-asterisk
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-asterisk
									"
								>asterisk</button>
						</li>
						<li>.icon-lightbulb
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-lightbulb
									"
								>lightbulb</button>
						</li>
						<li>.icon-copy
								<button 
									class="button 
										small
										 
										
										hollow
										
										
										icon-only
										icon-copy
									"
								>copy</button>
						</li>
					</ul>
	
					<h3>Icon on the left (class="button icon-left")</h3>
	
					<div class="button-group">
							<button 
								class="button 
									
									 
									
									
									icon-left
									
									
									icon-info
								"
							>A primary button</button>
							<button 
								class="button 
									
									 
									outlined
									
									icon-left
									
									
									icon-info
								"
							>A primary outlined button</button>
							<button 
								class="button 
									
									 
									
									hollow
									icon-left
									
									
									icon-info
								"
							>A primary hollow button</button>
					</div>
					<div class="button-group">
							<button 
								class="button 
									
									secondary 
									
									
									icon-left
									
									
									icon-info
								"
							>A secondary button</button>
							<button 
								class="button 
									
									secondary 
									outlined
									
									icon-left
									
									
									icon-info
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									
									secondary 
									
									hollow
									icon-left
									
									
									icon-info
								"
							>A secondary hollow button</button>
					</div>
	
					<h4>Small</h4>
					<div class="button-group">
							<button 
								class="button 
									small
									 
									
									
									icon-left
									
									
									icon-info
								"
							>A primary button</button>
							<button 
								class="button 
									small
									 
									outlined
									
									icon-left
									
									
									icon-info
								"
							>A primary outlined button</button>
							<button 
								class="button 
									small
									 
									
									hollow
									icon-left
									
									
									icon-info
								"
							>A primary hollow button</button>
					</div>
					<div class="button-group">
							<button 
								class="button 
									small
									secondary 
									
									
									icon-left
									
									
									icon-info
								"
							>A secondary button</button>
							<button 
								class="button 
									small
									secondary 
									outlined
									
									icon-left
									
									
									icon-info
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									small
									secondary 
									
									hollow
									icon-left
									
									
									icon-info
								"
							>A secondary hollow button</button>
					</div>
	
					<h3>Icon on the right (class="button icon-right")</h3>
	
					<div class="button-group">
							<button 
								class="button 
									
									 
									
									
									
									icon-right
									
									icon-info
								"
							>A primary button</button>
							<button 
								class="button 
									
									 
									outlined
									
									
									icon-right
									
									icon-info
								"
							>A primary outlined button</button>
							<button 
								class="button 
									
									 
									
									hollow
									
									icon-right
									
									icon-info
								"
							>A primary hollow button</button>
					</div>
					<div class="button-group">
							<button 
								class="button 
									
									secondary 
									
									
									
									icon-right
									
									icon-info
								"
							>A secondary button</button>
							<button 
								class="button 
									
									secondary 
									outlined
									
									
									icon-right
									
									icon-info
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									
									secondary 
									
									hollow
									
									icon-right
									
									icon-info
								"
							>A secondary hollow button</button>
					</div>
	
					<h4>Small</h4>
					<div class="button-group">
							<button 
								class="button 
									small
									 
									
									
									
									icon-right
									
									icon-info
								"
							>A primary button</button>
							<button 
								class="button 
									small
									 
									outlined
									
									
									icon-right
									
									icon-info
								"
							>A primary outlined button</button>
							<button 
								class="button 
									small
									 
									
									hollow
									
									icon-right
									
									icon-info
								"
							>A primary hollow button</button>
					</div>
					<div class="button-group">
							<button 
								class="button 
									small
									secondary 
									
									
									
									icon-right
									
									icon-info
								"
							>A secondary button</button>
							<button 
								class="button 
									small
									secondary 
									outlined
									
									
									icon-right
									
									icon-info
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									small
									secondary 
									
									hollow
									
									icon-right
									
									icon-info
								"
							>A secondary hollow button</button>
					</div>
	
	
					<h3>Icon without text</h3>
	
					<div class="button-group">
							<button 
								class="button 
									
									 
									
									
									
									
									icon-only
									icon-info
								"
							>A primary button</button>
							<button 
								class="button 
									
									 
									outlined
									
									
									
									icon-only
									icon-info
								"
							>A primary outlined button</button>
							<button 
								class="button 
									
									 
									
									hollow
									
									
									icon-only
									icon-info
								"
							>A primary hollow button</button>
					</div>
					<div class="button-group">
							<button 
								class="button 
									
									secondary 
									
									
									
									
									icon-only
									icon-info
								"
							>A secondary button</button>
							<button 
								class="button 
									
									secondary 
									outlined
									
									
									
									icon-only
									icon-info
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									
									secondary 
									
									hollow
									
									
									icon-only
									icon-info
								"
							>A secondary hollow button</button>
					</div>
	
					<h4>Small</h4>
					<div class="button-group">
							<button 
								class="button 
									small
									 
									
									
									
									
									icon-only
									icon-info
								"
							>A primary button</button>
							<button 
								class="button 
									small
									 
									outlined
									
									
									
									icon-only
									icon-info
								"
							>A primary outlined button</button>
							<button 
								class="button 
									small
									 
									
									hollow
									
									
									icon-only
									icon-info
								"
							>A primary hollow button</button>
					</div>
					<div class="button-group">
							<button 
								class="button 
									small
									secondary 
									
									
									
									
									icon-only
									icon-info
								"
							>A secondary button</button>
							<button 
								class="button 
									small
									secondary 
									outlined
									
									
									
									icon-only
									icon-info
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									small
									secondary 
									
									hollow
									
									
									icon-only
									icon-info
								"
							>A secondary hollow button</button>
					</div>
	
					<hr>
	
					<h2 id="9">Button groups</h2>
					<h3>A button group (div class="button-group")</h3>
					<div class="button-group">
							<button 
								class="button 
									
									 
									
									
									
									
									
									
								"
							>A primary button</button>
							<button 
								class="button 
									
									 
									outlined
									
									
									
									
									
								"
							>A primary outlined button</button>
							<button 
								class="button 
									
									 
									
									hollow
									
									
									
									
								"
							>A primary hollow button</button>
							<button 
								class="button 
									
									secondary 
									
									
									
									
									
									
								"
							>A secondary button</button>
							<button 
								class="button 
									
									secondary 
									outlined
									
									
									
									
									
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									
									secondary 
									
									hollow
									
									
									
									
								"
							>A secondary hollow button</button>
					</div>
					<h3>A small button group (div class="button-group" with class="small" on all buttons)</h3>
					<div class="button-group">
							<button 
								class="button 
									small
									 
									
									
									
									
									
									
								"
							>A primary button</button>
							<button 
								class="button 
									small
									 
									outlined
									
									
									
									
									
								"
							>A primary outlined button</button>
							<button 
								class="button 
									small
									 
									
									hollow
									
									
									
									
								"
							>A primary hollow button</button>
							<button 
								class="button 
									small
									secondary 
									
									
									
									
									
									
								"
							>A secondary button</button>
							<button 
								class="button 
									small
									secondary 
									outlined
									
									
									
									
									
								"
							>A secondary outlined button</button>
							<button 
								class="button 
									small
									secondary 
									
									hollow
									
									
									
									
								"
							>A secondary hollow button</button>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer surface-d">
		<div>
			<div class="footer-top">
				<div class="logo">
					<a href="https://www.eurofound.europa.eu/" rel="external noopener noreferrer"><span>Eurofound site</span></a>
				</div>
				<p class="moto">Eurofound Apps</p>
				<div class="small-list 
				horizontal bullets rich-text">
					<h2 class="heading show-for-sr">Quick links</h2>
					<ul>
						<li><a href="#">Link1</a></li>
						<li><a href="#">Link2</a></li>
						<li><a href="#">Link3</a></li>
						<li><a href="#">Link4</a></li>
					</ul>
				</div>		</div>
			<p class="copyright small-text">
				Eurofound is the tripartite EU agency providing knowledge to assist in the development of better social, employment and work-related policies.
			</p>
		</div>
	</footer></div>
<script src="../assets/js/app.js"></script>
</body>
</html>
